In [4]:
def f(x):
    y=x
    x=5
    return x*y

In [5]:
x=3
print(f(x))
print(x)

15
3

In [9]:
def spam(eggs):
    eggs.append(1)
    eggs.append(2)
    eggs.append(3)

In [10]:
ham=[0]
spam(ham)
print(ham)

[0, 1, 2, 3]

In [17]:
def f():
    global s
    s="I love London!"
    print(s, 2)
    
s="I love Paris!"
print(s, 1)
f()
print(s, 3)

I love Paris! 1
I love London! 2
I love London! 3

In [27]:
def func(name, age=20):
    print(name, age)

In [28]:
func('홍길동', 20)

func(age=20, name="홍길동")

def func2(name, age=20): #디폴트값은 반드시 뒤에
    print(name,age)
    
func('aaa',30)
func('bbb')

홍길동 20
홍길동 20
aaa 30
bbb 20

In [39]:
def func3(a,b,*c):
    print(a,b,c) #튜플

In [38]:
func3(1,2,3)
func3(1,2,3,4,5)
func3(1,2,3,4,5,6,7,8,9)

1 2 (3,)
1 2 (3, 4, 5)
1 2 (3, 4, 5, 6, 7, 8, 9)

In [44]:
def func4(*args):
    print(args) #튜플
    a,b,*c=args
    print(a,b,c) #일반값, 2개 이상이면 리스트

In [43]:
func4(1,2,3,4)

(1, 2, 3, 4)
1 2 [3, 4]

In [57]:
def func5(**kargs): #키워드 가변인수 **
    print(kargs)
    print('첫 번째 값 {first}'.format(**kargs))
    print('두 번째 값 {second}'.format(**kargs))
    print('세 번째 값 {third}'.format(**kargs))

In [56]:
func5(first=10,second=20,third=30)

{'first': 10, 'second': 20, 'third': 30}
첫 번째 값 10
두 번째 값 20
세 번째 값 30

In [58]:
def func6(one, two, *args, **kwargs):
    print(one, two, args)
    print(kwargs)

In [59]:
func6(1,2,3,4, first=10, second=20, third=30)

1 2 (3, 4)
{'first': 10, 'second': 20, 'third': 30}

In [62]:
a="TEAM"
b="LAB"
c=a+" "+b
print(c+str(1))

TEAM LAB1

In [78]:
s1="TEAMLAB X Inflearn"
print(s1.upper())
print(s1.lower())
print(s1.title())
print(s1.capitalize())
print(s1.lower().count('a'))
print(s1.isdigit())
print(s1.lower().startswith("tea"))
print(s1.lower().endswith('.'))

str_arr=s1.split()
print(str_arr)

TEAMLAB X INFLEARN
teamlab x inflearn
Teamlab X Inflearn
Teamlab x inflearn
3
False
True
False
['TEAMLAB', 'X', 'Inflearn']

In [84]:
a='''
    It\'s OK.
    I\'m Happy.
    See you!
'''

print(a)

    It's OK.
    I'm Happy.
    See you!

In [87]:
f=open('data/yesterday.txt','r')
yesterday_line = f.readlines()
f.close

contents = ''
for line in yesterday_line:
    contents+=line.strip()+" "
else :
    print(contents)

Yesterday all my troubles seemed so far away. Now it looks as though they're here to stay. Oh, I believe in yesterday.  Suddenly I'm not half the man I used to be. There's a shadow hanging over me. Oh, yesterday came suddenly.  Why she had to go, I don't know, she wouldn't say. I said something wrong, now I long for yesterday.  Yesterday love was such an easy game to play. Now I need a place to hide away. Oh, I believe in yesterday.  Why she had to go, I don't know, she wouldn't say. I said something wrong, now I long for yesterday.  Yesterday love was such an easy game to play. Now I need a place to hide away. Oh, I believe in yesterday.  Mm mm mm mm mm mm mm

In [90]:
n_of_yesterday = contents.lower().count('yesterday')
print("Number of a Wordn_of_yesterday)

9