In [1]:
class SoccerPlayer(object):
    def __init__(self, name, position, back_number):
        self.name=name
        self.position=position
        self.back_number=back_number
    
    def change_back_number(self, new_number):
        print("선수의 등번호를 변경합니다: From %d to %d"%(self.back_number, new_number))
        self.back_number = new_number
        
    def __str__(self):
        return "My name is %s. I play in %s, back_number is %d"%(self.name,self.position,self.back_number)

In [8]:
son=SoccerPlayer('손흥민','MF',10)
print(son)
son.change_back_number(20)
print(son)

My name is 손흥민. I play in MF, back_number is 10
선수의 등번호를 변경합니다: From 10 to 20
My name is 손흥민. I play in MF, back_number is 20

In [20]:
class Student(object):
    def __init__(self, sno, name, major):
        self.__sno = sno #필드에 __붙이면 private
        self.__name = name
        self.__major = major
        
    def change_major(self, new_major):
        print("학생의 학과를 변경합니다. : From %s to %s"%(self.__major, new_major))
        self.__major = new_major
        
    def __str__(self):
        return "Hi I'm %s. My student number is %d and I study %s"%(self.__name,self.__sno,self.__major)

In [23]:
stu=Student(1,'홍길동','고고학')
print(stu)
stu.change_major('컴공')
print(stu)

Hi I'm 홍길동. My student number is 1 and I study 고고학
학생의 학과를 변경합니다. : From 고고학 to 컴공
Hi I'm 홍길동. My student number is 1 and I study 컴공

In [24]:
print(stu.name)
print(stu.sno)
print(stu.major)

AttributeError: 'Student' object has no attribute 'name'

In [26]:
class Person(object):
    def __init__(self, name, age, gender):
        self.name=name
        self.age=age
        self.gender=gender
        
    def about_me(self):
        print("이름은",self.name, "나이는",self.age, "성별은",self.gender, end=" ")

In [29]:
p1=Person('홍길동',20,'남자')
p1.about_me()

이름은 홍길동 나이는 20 성별은 남자

In [32]:
class Employee(Person):
    def __init__(self,name,age,gender,salary,hire_date):
        super().__init__(name,age,gender)
        self.salary=salary
        self.hire_date=hire_date
        
    def do_work(self):
        print("열심히 일한다.")
        
    def about_me(self):
        super().about_me()
        print("급여:",self.salary,"입사일:",self.hire_date)

In [34]:
e1=Employee("홍길수",30,"남자",500,"2019-01-03")
e1.about_me()

이름은 홍길수 나이는 30 성별은 남자 급여: 500 입사일: 2019-01-03

In [49]:
class Student(Person):
    def __init__(self,name,age,gender,sno,major):
        super().__init__(name,age,gender)
        self.sno = sno
        self.major = major
    
    def change_major(self, new_major):
        print("학생의 학과를 변경합니다. : From %s to %s"%(self.major, new_major))
        self.major = new_major
        
    def __str__(self):
        super().about_me()
        print("학번:",self.sno,"전공:",self.major)

In [51]:
s1=Student("홍길동",20,"남자",1,"컴공")
s1.__str__()
s1.change_major("빅데이터")
s1.__str__()

이름은 홍길동 나이는 20 성별은 남자 학번: 1 전공: 컴공
학생의 학과를 변경합니다. : From 컴공 to 빅데이터
이름은 홍길동 나이는 20 성별은 남자 학번: 1 전공: 빅데이터