In [1]:
import sqlite3
print(sqlite3.version)
print(sqlite3.sqlite_version)

2.6.0
3.35.4

In [3]:
def create_table():
    conn=sqlite3.connect('my_book.db')
    cursor=conn.cursor()
    sql="""CREATE TABLE if not exists books(
    title text,
    published_date text,
    publisher text,
    pages integer
    )"""
    cursor.execute(sql)
    conn.commit()
    conn.close()
create_table()

In [15]:
def insert_books(data):
    conn=sqlite3.connect('my_book.db')
    cursor=conn.cursor()
    #sql="""INSERT INTO books 
    #      values('java','2021-01-12','길벗',500)"""
    sql="INSERT INTO books values(?,?,?,?)"
    cursor.execute(sql,data)
    conn.commit()
    conn.close()

In [16]:
data=('python','2011-01-12','한빛',450)
insert_books(data)

In [18]:
def insert_many_books(data):
    conn=sqlite3.connect('my_book.db')
    cursor=conn.cursor()
    #sql="""INSERT INTO books 
    #      values('java','2021-01-12','길벗',500)"""
    sql="INSERT INTO books values(?,?,?,?)"
    cursor.executemany(sql,data)
    conn.commit()
    conn.close()

In [19]:
items=[('Big data','2021-05-05','영진',550),('android','2022-01-01','한빛',600)]
insert_many_books(items)

In [12]:
def all_books():
    conn=sqlite3.connect('my_book.db')
    cursor=conn.cursor()
    sql="""SELECT  *
           FROM    books"""
    cursor.execute(sql)
    books=cursor.fetchall()
    print(books)
    print(type(books))
    
    for book in books:
        print(book)
        print(type(book))
    conn.close()

In [20]:
all_books()

[('java', '2021-01-12', '길벗', 500), ('python', '2011-01-12', '한빛', 450), ('Big data', '2021-05-05', '영진', 550), ('android', '2022-01-01', '한빛', 600)]
<class 'list'>
('java', '2021-01-12', '길벗', 500)
<class 'tuple'>
('python', '2011-01-12', '한빛', 450)
<class 'tuple'>
('Big data', '2021-05-05', '영진', 550)
<class 'tuple'>
('android', '2022-01-01', '한빛', 600)
<class 'tuple'>

In [21]:
def some_books(number):
    conn=sqlite3.connect('my_book.db')
    cursor=conn.cursor()
    sql="""SELECT  *
           FROM    books"""
    cursor.execute(sql)
    books=cursor.fetchmany(number)
    for book in books:
        print(book)
    conn.close()

In [23]:
some_books(3)

('java', '2021-01-12', '길벗', 500)
('python', '2011-01-12', '한빛', 450)
('Big data', '2021-05-05', '영진', 550)

In [24]:
def one_book():
    conn=sqlite3.connect('my_book.db')
    cursor=conn.cursor()
    sql="""SELECT  *
           FROM    books"""
    cursor.execute(sql)
    books=cursor.fetchone()
    for book in books:
        print(book)
    conn.close()

In [25]:
one_book()

java
2021-01-12
길벗
500

In [37]:
def select_books(data):
    conn=sqlite3.connect('my_book.db')
    cursor=conn.cursor()
    sql="""SELECT   *
           FROM     books
           WHERE    pages>? or publisher=?
           ORDER BY title"""
    cursor.execute(sql,data)
    books=cursor.fetchall()
    for book in books:
        print(book)
    conn.close()

In [38]:
data=(500,'한빛')
select_books(data)

('Big data', '2021-05-05', '영진', 550)
('android', '2022-01-01', '한빛', 600)
('python', '2011-01-12', '한빛', 450)

In [40]:
def update_book(data):
    conn=sqlite3.connect('my_book.db')
    cursor=conn.cursor()
    sql="UPDATE books SET pages=? WHERE title=?"
    cursor.execute(sql,data)
    conn.commit()
    conn.close()

In [45]:
update_book((700,'android'))
all_books()

[('java', '2021-01-12', '길벗', 300), ('python', '2011-01-12', '한빛', 450), ('Big data', '2021-05-05', '영진', 550), ('android', '2022-01-01', '한빛', 700)]
<class 'list'>
('java', '2021-01-12', '길벗', 300)
<class 'tuple'>
('python', '2011-01-12', '한빛', 450)
<class 'tuple'>
('Big data', '2021-05-05', '영진', 550)
<class 'tuple'>
('android', '2022-01-01', '한빛', 700)
<class 'tuple'>

In [48]:
def update_books(datas):
    conn=sqlite3.connect('my_book.db')
    cursor=conn.cursor()
    sql="UPDATE books SET pages=? WHERE title=?"
    cursor.executemany(sql,datas)
    conn.commit()
    conn.close()

In [50]:
datas=[(400,'java'),(550,'android')]
update_books(datas)
all_books()

[('java', '2021-01-12', '길벗', 400), ('python', '2011-01-12', '한빛', 450), ('Big data', '2021-05-05', '영진', 550), ('android', '2022-01-01', '한빛', 550)]
<class 'list'>
('java', '2021-01-12', '길벗', 400)
<class 'tuple'>
('python', '2011-01-12', '한빛', 450)
<class 'tuple'>
('Big data', '2021-05-05', '영진', 550)
<class 'tuple'>
('android', '2022-01-01', '한빛', 550)
<class 'tuple'>

In [51]:
def delete_books():
    conn=sqlite3.connect('my_book.db')
    cursor=conn.cursor()
    sql="DELETE FROM books WHERE title='java'"
    cursor.execute(sql)
    conn.commit()
    conn.close()

In [53]:
delete_books()
all_books()

[('python', '2011-01-12', '한빛', 450), ('Big data', '2021-05-05', '영진', 550), ('android', '2022-01-01', '한빛', 550)]
<class 'list'>
('python', '2011-01-12', '한빛', 450)
<class 'tuple'>
('Big data', '2021-05-05', '영진', 550)
<class 'tuple'>
('android', '2022-01-01', '한빛', 550)
<class 'tuple'>

In [1]:
import cx_Oracle

In [4]:
def insert_product():
    conn=cx_Oracle.connect("inwoo/inwoo@localhost:1521/xe")
    cursor=conn.cursor()
    sql="""INSERT INTO product(product_id,product_name,price,description,picture_url)
         VALUES(:1,:2,:3,:4,:5)"""
    data=(1,'레몬',1500,'레몬에 포함된 구연산은 피로회복에 좋습니다.','lemon.jpg')
    cursor.execute(sql,data)
    cursor.close()
    conn.commit()
    conn.close()
insert_product()

In [7]:
def all_product():
    conn=cx_Oracle.connect("inwoo/inwoo@localhost:1521/xe")
    cursor=conn.cursor()
    sql="""SELECT * FROM product"""
    cursor.execute(sql)
    #product=cursor.fetchall()
    for row in cursor:
        description=row[3].read() #CLOB필드 읽는 방법
        data=list(row) #tuple->list로 변경
        data[3]=description
        print(data)
    cursor.close()
    conn.close()
all_product()

[1, '레몬', 1500, '레몬에 포함된 구연산은 피로회복에 좋습니다.', 'lemon.jpg']

In [29]:
def insert_one_product(data):
    conn=cx_Oracle.connect("inwoo/inwoo@localhost:1521/xe")
    cursor=conn.cursor()
    sql="""INSERT INTO product(product_id,product_name,price,description,picture_url)
         VALUES(:1,:2,:3,:4,:5)"""
    #data=(1,'레몬',1500,'레몬에 포함된 구연산은 피로회복에 좋습니다.','lemon.jpg')
    cursor.execute(sql,data)
    cursor.close()
    conn.commit()
    conn.close()
#insert_product()

In [30]:
data=(2,'오렌지',5000,'비타민C가 풍부합니다. 생과일 주스로 마시면 좋습니다.','orange.jpg')
insert_one_product(data)

In [31]:
all_product()

[1, '레몬', 1500, '레몬에 포함된 구연산은 피로회복에 좋습니다.', 'lemon.jpg']
[2, '오렌지', 5000, '비타민C가 풍부합니다. 생과일 주스로 마시면 좋습니다.', 'orange.jpg']

In [13]:
def insert_many_products(datas):
    conn=cx_Oracle.connect("inwoo/inwoo@localhost:1521/xe")
    cursor=conn.cursor()
    sql="""INSERT INTO product(product_id,product_name,price,description,picture_url)
         VALUES(:1,:2,:3,:4,:5)"""
    cursor.executemany(sql,datas)
    cursor.close()
    conn.commit()
    conn.close()

In [32]:
datas=[(3,'키위',5000,'다이어트나 미용에 좋습니다.','kiwi.jpg'),
       (4,'포도',8000,'폴리페놀을 다량 함유하고 있어 항산화 작용을 합니다.','grape.jpg')]
insert_many_products(datas)
all_product()

[1, '레몬', 1500, '레몬에 포함된 구연산은 피로회복에 좋습니다.', 'lemon.jpg']
[2, '오렌지', 5000, '비타민C가 풍부합니다. 생과일 주스로 마시면 좋습니다.', 'orange.jpg']
[3, '키위', 5000, '다이어트나 미용에 좋습니다.', 'kiwi.jpg']
[4, '포도', 8000, '폴리페놀을 다량 함유하고 있어 항산화 작용을 합니다.', 'grape.jpg']

In [24]:
def select_one():
    conn=cx_Oracle.connect("inwoo/inwoo@localhost:1521/xe")
    cursor=conn.cursor()
    sql="SELECT count(*) FROM product"
    cursor.execute(sql)
    count=cursor.fetchone()
    print("상품갯수:",count[0])
    cursor.close()
    conn.close()
    
select_one()

상품갯수: 0

In [19]:
def delete_product():
    conn=cx_Oracle.connect("inwoo/inwoo@localhost:1521/xe")
    cursor=conn.cursor()
    sql="DELETE FROM product WHERE product_id=:product_id"
    cursor.execute(sql,{'product_id':1})
    #cursor.close()
    conn.commit()
    conn.close()

delete_product()
all_product()

[2, '오렌지', 5000, '비타민C가 풍부합니다. 생과일 주스로 마시면 좋습니다.', 'orange.jpg']
[3, '키위', 5000, '다이어트나 미용에 좋습니다.', 'kiwi.jpg']
[4, '포도', 8000, '폴리페놀을 다량 함유하고 있어 항산화 작용을 합니다.', 'grape.jpg']

In [20]:
def delete_all_products():
    conn=cx_Oracle.connect("inwoo/inwoo@localhost:1521/xe")
    cursor=conn.cursor()
    sql="DELETE FROM product"
    cursor.execute(sql)
    #cursor.close()
    conn.commit()
    conn.close()

In [23]:
delete_all_products()
all_product()

In [33]:
def update(price,product_id):
    conn=cx_Oracle.connect("inwoo/inwoo@localhost:1521/xe")
    cursor=conn.cursor()
    sql="update product set price=:1 where product_id=:2"
    data=(price,product_id)
    cursor.execute(sql,data)
    conn.commit()
    conn.close()

In [34]:
all_product()

[1, '레몬', 1500, '레몬에 포함된 구연산은 피로회복에 좋습니다.', 'lemon.jpg']
[2, '오렌지', 5000, '비타민C가 풍부합니다. 생과일 주스로 마시면 좋습니다.', 'orange.jpg']
[3, '키위', 5000, '다이어트나 미용에 좋습니다.', 'kiwi.jpg']
[4, '포도', 8000, '폴리페놀을 다량 함유하고 있어 항산화 작용을 합니다.', 'grape.jpg']

In [37]:
price=int(input("input price : "))
product_id=str(input("input product_id : "))
update(price,product_id)
all_product()

input price :  2500
input product_id :  1

[1, '레몬', 2500, '레몬에 포함된 구연산은 피로회복에 좋습니다.', 'lemon.jpg']
[2, '오렌지', 5000, '비타민C가 풍부합니다. 생과일 주스로 마시면 좋습니다.', 'orange.jpg']
[3, '키위', 5000, '다이어트나 미용에 좋습니다.', 'kiwi.jpg']
[4, '포도', 8000, '폴리페놀을 다량 함유하고 있어 항산화 작용을 합니다.', 'grape.jpg']

In [38]:
import pymysql

In [39]:
def insert_one_mysql(data):
    conn=pymysql.connect(host='localhost',user='iwj',password='1234',
                     db='py_mysql_db',charset='utf8')
    cursor=conn.cursor()
    sql="""INSERT INTO books(title,pub,pages,author)
           VALUES(%s,%s,%s,%s)"""
    cursor.execute(sql,data)
    conn.commit()
    conn.close()

In [40]:
data=('java','한빛',500,'홍길동')
insert_one_mysql(data)

In [42]:
def insert_many_mysql(datas):
    conn=pymysql.connect(host='localhost',user='iwj',password='1234',
                     db='py_mysql_db',charset='utf8')
    cursor=conn.cursor()
    sql="""INSERT INTO books(title,pub,pages,author)
           VALUES(%s,%s,%s,%s)"""
    cursor.executemany(sql,datas)
    conn.commit()
    conn.close()

In [43]:
datas=[('database','한빛',500,'홍길동'),('spring','길벗',600,'홍길동')]
insert_many_mysql(datas)

In [45]:
def select_mysql_all():
    conn=pymysql.connect(host='localhost',user='iwj',password='1234',
                     db='py_mysql_db',charset='utf8')
    cursor=conn.cursor()
    sql="SELECT * FROM books"
    cursor.execute(sql)
    for book in cursor:
        print(book)
    conn.close()

In [46]:
select_mysql_all()

(1, 'java', '한빛', 500, '홍길동')
(2, 'database', '한빛', 500, '홍길동')
(3, 'spring', '길벗', 600, '홍길동')

In [55]:
def update_mysql(data):
    conn=pymysql.connect(host='localhost',user='iwj',password='1234',
                     db='py_mysql_db',charset='utf8')
    cursor=conn.cursor()
    sql="UPDATE books SET title=%s,pub=%s,pages=%s,author=%s WHERE id=%s"
    cursor.execute(sql,data)
    conn.commit()
    conn.close()

In [56]:
data=('java2','생능',750,'박경미',1)
update_mysql(data)
select_mysql_all()

(1, 'java2', '생능', 750, '박경미')
(2, 'database', '한빛', 500, '홍길동')
(3, 'spring', '길벗', 600, '홍길동')

In [57]:
def delete_mysql_book(data):
    conn=pymysql.connect(host='localhost',user='iwj',password='1234',
                     db='py_mysql_db',charset='utf8')
    cursor=conn.cursor()
    sql="DELETE FROM books WHERE id=%s"
    cursor.execute(sql,data)
    conn.commit()
    conn.close()

In [58]:
delete_mysql_book(2)
select_mysql_all()

(1, 'java2', '생능', 750, '박경미')
(3, 'spring', '길벗', 600, '홍길동')

In [ ]:
def delete_mysql_books(data):
    conn=pymysql.connect(host='localhost',user='iwj',password='1234',
                     db='py_mysql_db',charset='utf8')
    cursor=conn.cursor()
    sql="DELETE FROM books WHERE id=%s"
    cursor.executemany(sql,data)
    conn.commit()
    conn.close()