In [2]:
#단순 if문
score=60

if score>70:
    print("합격")
    
print("end")

end

In [ ]:
#if-else문
score=80

if score>70:
    print("합격")
    print("축하합니다.")
else:
    print("불합격")
    print("다음 기회에 다시 도전하세요.")
    
print("end")

In [1]:
score = int(input("성적을 입력해주세요."))

if score>=90:
    print("A")
elif score>=80:
    print("B")
elif score>=70:
    print("C")
elif score>=60:
    print("D")
else:
    print("F")

성적을 입력해주세요. 90

A

In [5]:
yob = 2021-int(input("당신이 태어난 연도를 입력하세요."))+1

if yob>=27 : print("학생이 아닙니다.")
elif yob>=20 : print("대학생")
elif yob>=17 : print("고등학생")
elif yob>=14 : print("중학생")
elif yob>=8 : print("초등학생")
else : print("학생이 아닙니다.")

당신이 태어난 연도를 입력하세요. 2002

대학생

In [6]:
1<=100<10

False

In [ ]:
# for i in list:
# for i in range(start, end, step) :

In [7]:
for i in [10, 20, 30, 40, 50]:
    print(i)

10
20
30
40
50

In [11]:
for i in range(10): #range(0,10,1)
    print(i)

0
1
2
3
4
5
6
7
8
9

In [13]:
for looper in [1,2,3,4,5]:
    print('hello', looper)

hello 1
hello 2
hello 3
hello 4
hello 5

In [14]:
for i in 'abcdefg':
    print(i)

a
b
c
d
e
f
g

In [21]:
colors = ['red','green','blue','pink','black','white']
for i in colors:
    for j in i:
        print(j, end=' ')
    print()

r e d
g r e e n
b l u e
p i n k
b l a c k
w h i t e

In [22]:
i=1
while i<10:
    print(i)
    i+=1

1
2
3
4
5
6
7
8
9

In [27]:
sum=0
for i in range(100):
    sum+=i
    if(sum>=50):
        break
    print(i, sum)
print('for end:',i, sum)

0 0
1 1
2 3
3 6
4 10
5 15
6 21
7 28
8 36
9 45
for end: 10 55

In [30]:
sum=0
for i in range(1,100):
    sum+=i
    if(i%5==0):
        continue
    print(i, sum)

1 1
2 3
3 6
4 10
6 21
7 28
8 36
9 45
11 66
12 78
13 91
14 105
16 136
17 153
18 171
19 190
21 231
22 253
23 276
24 300
26 351
27 378
28 406
29 435
31 496
32 528
33 561
34 595
36 666
37 703
38 741
39 780
41 861
42 903
43 946
44 990
46 1081
47 1128
48 1176
49 1225
51 1326
52 1378
53 1431
54 1485
56 1596
57 1653
58 1711
59 1770
61 1891
62 1953
63 2016
64 2080
66 2211
67 2278
68 2346
69 2415
71 2556
72 2628
73 2701
74 2775
76 2926
77 3003
78 3081
79 3160
81 3321
82 3403
83 3486
84 3570
86 3741
87 3828
88 3916
89 4005
91 4186
92 4278
93 4371
94 4465
96 4656
97 4753
98 4851
99 4950

In [33]:
for i in range(10):
    print(i)
else:
    print('end of program')

0
1
2
3
4
5
6
7
8
9
end of program

In [40]:
sentence = "I love you"
reverse_sentence = ''
for char in sentence:
    reverse_sentence=char + reverse_sentence
print(reverse_sentence)

uoy evol I

In [48]:
decimal = 10
result = ''
while(decimal>0):
    remainder = decimal%2
    decimal = decimal//2
    result = str(remainder)+result
print(result)

5
1010

In [86]:
kor = [49,80,20,100,80]
math = [43,60,85,30,90]
eng = [49,82,48,50,100]
score = [kor,math,eng]
avr = [0,0,0,0,0]

cnt = 0

for i in score:
    for j in i:
        #print(j)
        avr[cnt]+=j
        cnt+=1
        #print(cnt)
    cnt=0
    print(avr)
else:
    stu1,stu2,stu3,stu4,stu5=avr
    avr=[stu1/3,stu2/3,stu3/3,stu4/3,stu5/3]
    print(avr)

rank = [1,1,1,1,1]
for i in range(len(avr)):
    for j in range(len(avr)):
        if avr[j]>avr[i]:
            rank[i]+=1
else:
    print(rank)

[49, 80, 20, 100, 80]
[92, 140, 105, 130, 170]
[141, 222, 153, 180, 270]
[47.0, 74.0, 51.0, 60.0, 90.0]
[5, 2, 4, 3, 1]

In [75]:
kor = [49,80,20,100,80]
math = [43,60,85,30,90]
eng = [49,82,48,50,100]

score = [kor,math,eng]
stud_score = [0.0,0.0,0.0,0.0,0.0]

for i in range(len(score)):
    for j in range(len(score[i])):
        stud_score[j]+=score[i][j]
print(stud_score)

[141.0, 222.0, 153.0, 180.0, 270.0]